.ctaButton {
	font-size: 1rem;
	color: var(--primary);
	font-weight: bold;
	border: 0.15rem solid var(--primary);
	border-radius: 2rem;
	padding: 0.5rem 1rem;
	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
	cursor: pointer;
	transition: all 200ms ease-in;
}

.ctaButton:hover {
	border: 0.15rem solid var(--primary);
	background-color: var(--primary);
	border-radius: 2rem;
	color: var(--white);
	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.vHeader {
	height: 100vh;
	display: flex;
	align-items: center;
	color: var(--white);
}

.container {
	max-width: 960px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: auto;
	text-align: center;
}

.fullscreenVideoWrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.fullscreenVideoWrapper video {
	left: 50%;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	top: 50%;
	transform: translate(-55%, -50%);
}

.headerOverlay {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	background: var(--primary);
	opacity: 0.85;
	z-index: 1;
}

.cta {
	z-index: 2;
	position: absolute;
}
