.footer {
	width: 100%;
	height: 100px;
	bottom: 0;
	position: absolute;
	border-top: 1px solid #eaeaea;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ffff;
	z-index: 2;
}

.footer img {
	margin-left: 0.5rem;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.socialLinks {
	display: flex;
}
