.footer {
	width: 100%;
	height: 100px;
	bottom: 0;
	position: absolute;
	border-top: 1px solid #eaeaea;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ffff;
	z-index: 2;
	padding-top: 100px;
	padding-bottom: 100px;
}

.footer img {
	margin-left: 0.5rem;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.socialLinks {
	display: flex;
	justify-content: space-around;
}

.socialLinks .link {
	font-size: 2rem;
	cursor: pointer;
	transition: all ease-in-out 200ms;
}

.socialLinks .link:hover {
	color: var(--primary);
}
