.navbar {
	box-shadow: 0px -3px 10px rgba(87, 86, 86, 0.39);
	height: 6vh;
	margin: 0;
	padding: 1rem 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.navItem {
	list-style: none;
	margin-right: 2rem;
}

.navItem a {
	text-decoration: none;
	color: var(--text);
	font-weight: 500;
	transition: all 200ms ease-in-out;
}

.navItem a:hover {
	color: var(--primary);
	border-bottom: 3px solid var(--primary);
	padding-bottom: 1rem;
}

.navItem:first-child {
	margin-right: auto;
	margin-left: 2rem;
	width: 2rem;
}

.ctaButton {
	font-size: 1rem;
	color: var(--primary);
	font-weight: bold;
	border: 0.15rem solid var(--primary);
	border-radius: 2rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
	transition: all 200ms ease-in;
}

.ctaButton:hover {
	border: 0.15rem solid var(--primary);
	background-color: var(--primary);
	border-radius: 2rem;
	color: var(--white);
}
